@media (max-width: 991px) {
	// ABOUT
	.about{
		&-contentCols{
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&-col{
				width: 50%;
			}
		}
	}
	// WHAT
	.what{
		&-contentCols{
			flex-direction: column;
			&-col{
				margin-bottom: 100px;
			}
		}
	}
	// PREMIUM
	.premium{
		&-contentCards{
			&-card{
				max-width: 49%;
			}
		}
	}
	// TEAM
	.team{
		&-contentCols{
			flex-wrap:wrap;
			justify-content: center;
			&-col{
				width:90%;
				margin-bottom:30px;
				&:nth-child(4){
					margin-bottom:0;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	// ABOUT
	.about{
		&-contentCols{
			&-col{
				width: 64%;
			}
		}
	}
// NUMBERS
.numbers{
	&-contentCols{
		flex-direction: column;
		}
}
	// FOOTER
	.footer{
		flex-direction: column;
		text-align:center;
		height: auto;
		&-list{
			display:block;
		}
		&-text{
		}
		&-contentSocials{
		}
	}
}

@media (max-width: 766px) {
	body, html{
		font-size:15px;
	}
	.banner{
		font-size:0.6em;
	}
}

@media (max-width: 600px) {
	// PREMIUM
	.premium{
		&-contentCards{
				&-card{
					max-width: 99%;
				}
		}
	}
}

@media (max-width: 400px) {
	//BANNER
	.banner{
		.udash{
			width: 80%;
		}
	}
}